body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: bisque;
    color: rgb(107, 80, 11);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: pink;
    color: rgb(227, 84, 132);
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: pink;
    color: rgb(227, 84, 132);
    font-family: Arial;
    margin: 0px;
}

a {
    color: rgb(223, 124, 197);
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: rgb(171, 105, 171);
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid palevioletred;
    border-radius: 5 px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: lightpink;
    box-shadow: 0 0 15px darkmagenta;
}