<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Пенькова Полина Александровна. Лабораторная 8</title>
        <link rel="stylesheet" href="../main.css">
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-32x32.png">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        
    </head>

    <body>
        <header> 
            НГТУ, ФБ, Лабораторная работа 7
        </header>

        <main>
           <div id="app">
                <h1 :title="messageRus">{{ message }}</h1>
                <p>счетчик: {{ counter }}</p>
                <button @click="incCounter" v-if="counter < 10">++</button>
                <button @click="decCounter" v-if="counter > 0">--</button>
                <hr>

                <h2>пользователь</h2>
                <div>имя: {{ user.name }}</div>
                <div>возраст: {{ user.age }}</div>
                <div>телефон: {{ user.tel }}</div>
                <hr>

                <h2>цветы</h2>
                <ul>
                    <li v-for="(flower, id) in flowers">
                        {{ flower }} 

                    </li>
                </ul>
           </div>
           
        </main>

        <footer> 
            &copy; Пенькова Полина Александровна, ФБИ-34, 2 курс, 2025
        </footer>

        <script>
            Vue.createApp({
                data() {
                    return {
                        message: 'hello!',
                        messageRus: 'привет!',
                        counter: 1,
                        user: {
                            name: 'polina',
                            age: '19',
                            tel: '89538700808'
                        }, 

                        flowers: ['роза', 'тюльпан', 'маргкритка', 'георгин', 'одуванчик'], 
                    }
                }, 
                methods: {
                    incCounter() {
                        this.counter++;
                    },

                    decCounter() {
                        this.counter--;
                    },
                }
            }).mount('#app');
        </script>

    </body>
</html>